.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}


/* 4 cáº¡nh neon */

.card span {
    position: absolute;
    display: block;
    opacity: 0;
}

.card:hover span {
    opacity: 1;
}


/* TOP */

.card span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #00eaff);
}

.card:hover span:nth-child(1) {
    animation: neonTop 1.5s linear infinite;
}


/* RIGHT */

.card span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00eaff);
}

.card:hover span:nth-child(2) {
    animation: neonRight 1.5s linear infinite;
    animation-delay: 0.375s;
}


/* BOTTOM */

.card span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #00eaff);
}

.card:hover span:nth-child(3) {
    animation: neonBottom 1.5s linear infinite;
    animation-delay: 0.75s;
}


/* LEFT */

.card span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #00eaff);
}

.card:hover span:nth-child(4) {
    animation: neonLeft 1.5s linear infinite;
    animation-delay: 1.125s;
}