@import url("media.css");
@import url("keyframe.css");
body {
    margin: 0;
    font-family: Arial;
    background: #eef3f8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3A8DFF;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.left-header {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 20px 35px;
    border-radius: 20px;
    border: none;
    width: 350px;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu {
    background: #3A8DFF;
    padding: 12px 0;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu a {
    color: white;
    position: relative;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 40px;
    backdrop-filter: blur(4px);
    animation: scaleUp 0.5s ease;
}

.card {
    background: #fff;
    border-radius: 20px;
    padding: 12px 18px;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.card .icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.card h2 {
    margin-top: 0;
    color: #0066ff;
}

.swiper {
    width: 90%;
    height: 360px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 20px;
}

.swiper-wrapper img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
}

.footer {
    background: #1E73FF;
    /* Xanh dương đậm hiện đại */
    color: #fff;
    padding: 40px 0 20px;
    margin-top: 40px;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    max-width: 300px;
}

.footer-links,
.footer-contact {
    min-width: 200px;
}

.footer h4 {
    margin-bottom: 12px;
    font-size: 18px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin: 6px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
    opacity: 0.9;
}