/* Màn hình <= 1024px (Tablet ngang) */

@media (max-width:1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 100px;
        /* số px tùy vào chiều cao menu */
    }
    .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 0;
        background: #0d6efd;
        z-index: 999;
    }
    .menu ul {
        justify-content: space-around;
        gap: 0;
    }
    .menu a {
        font-size: 14px;
        flex-direction: column;
        /* icon trên chữ – kiểu mobile app */
        gap: 4px;
    }
    .menu i {
        font-size: 18px;
    }
    .footer-logo {
        margin: 0 auto;
    }
    .footer-bottom {
        padding-bottom: 100px
    }
}


/* Tablet dọc + điện thoại lớn (<= 768px) */

@media (max-width:768px) {
    .container {
        padding-bottom: 100px;
        /* số px tùy vào chiều cao menu */
    }
    /* Header */
    .header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 20px;
    }
    .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 0;
        background: #0d6efd;
        z-index: 999;
    }
    .menu ul {
        justify-content: space-around;
        gap: 0;
    }
    .menu a {
        font-size: 14px;
        flex-direction: column;
        /* icon trên chữ – kiểu mobile app */
        gap: 4px;
    }
    .menu i {
        font-size: 18px;
    }
    .search-box input {
        width: 100%;
    }
    .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 0;
        background: #0d6efd;
        z-index: 999;
    }
    .menu ul {
        justify-content: space-around;
        gap: 0;
    }
    .menu a {
        font-size: 14px;
        flex-direction: column;
        /* icon trên chữ – kiểu mobile app */
        gap: 4px;
    }
    .menu i {
        font-size: 18px;
    }
    /* Container */
    .container {
        padding: 15px;
        grid-template-columns: repeat(2, 2fr);
        gap: 15px;
    }
    /* Card */
    .card .icon {
        font-size: 25px;
    }
    .card {
        height: 70%;
        padding: 15px;
    }
    .card h2 {
        font-size: 18px;
    }
    .footer-logo {
        margin: 0 auto;
    }
    .footer-bottom {
        padding-bottom: 100px
    }
}


/* Điện thoại nhỏ (<= 480px) */

@media (max-width:480px) {
    .container {
        padding-bottom: 100px;
        /* số px tùy vào chiều cao menu */
    }
    .header {
        font-size: 18px;
        padding: 15px;
    }
    .card {
        padding: 18px;
    }
    .card h2 {
        font-size: 16px;
    }
    .search-box input {
        padding: 6px;
        font-size: 14px;
    }
    .footer-logo {
        margin: 0 auto;
    }
    .footer-bottom {
        padding-bottom: 100px
    }
}