body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #0f1c30;
    /* xanh sẫm */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 360px;
    background: #fff;
    padding: 35px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.35);
    animation: scaleUp 0.5s ease;
}

h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #0f1c30;
}

.input-group {
    margin-bottom: 18px;
}

.input-group input {
    width: 92%;
    padding: 12px 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: 0.25s;
}

.input-group input:focus {
    border-color: #1a5bff;
    box-shadow: 0 0 5px rgba(26, 91, 255, 0.3);
}

.button {
    width: 100%;
    padding: 13px;
    margin-top: 20px;
    background: #1d4ed8;
    /* xanh sẫm */
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    background: #153fad;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 102, 255, 0.3);
}

.button:active {
    transform: scale(0.98);
}

a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #1d4ed8;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0.85);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}