body {
    margin: 0;
    font-family: Arial;
    background: #eef3f8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006aff;
    padding: 15px 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.logo {
    font-size: 22px;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav a:hover {
    text-decoration: underline;
}

.search-box input {
    padding: 6px 10px;
    border-radius: 20px;
    border: none;
    width: 280px;
}

.account a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.account a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    padding: 40px;
    backdrop-filter: blur(4px);
}

.card {
    background: #fff;
    border-radius: 20px;
    padding: 12px 18px;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.card .icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.card h2 {
    margin-top: 0;
    color: #0066ff;
}

.slideshow-container {
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 30px;
}

.slideshow-container img {
    width: 95%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}


/* Màn hình <= 1024px (Tablet ngang) */

@media (max-width:1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Tablet dọc + điện thoại lớn (<= 768px) */

@media (max-width:768px) {
    /* Header */
    .header {
        flex-direction: column;
        text-align: center;
        gap: 12px;
        padding: 20px;
    }
    .nav {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 16px;
    }
    .search-box input {
        width: 100%;
    }
    /* Container */
    .container {
        padding: 15px;
        grid-template-columns: 1fr;
        gap: 15px;
    }
    /* Card */
    .card .icon {
        font-size: 32px;
    }
    .card {
        padding: 20px;
    }
    .card h2 {
        font-size: 18px;
    }
}


/* Điện thoại nhỏ (<= 480px) */

@media (max-width:480px) {
    .header {
        font-size: 18px;
        padding: 15px;
    }
    .nav a {
        font-size: 15px;
    }
    .card {
        padding: 18px;
    }
    .card h2 {
        font-size: 16px;
    }
    .search-box input {
        padding: 6px;
        font-size: 14px;
    }
}