.logo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #e0e0e0;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 4px;
}

.logo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 4px;
    width: 40%;
    background: #1e90ff;
    /* xanh dương */
    border-radius: 4px;
    animation: loadingRun 1.2s infinite ease-in-out;
}

.neon-input-wrapper {
    position: relative;
    display: inline-block;
}

.neon-input {
    padding: 14px 0;
    width: 300px;
    font-size: 18px;
    color: #fff;
    background: #0d47a1;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}


/* 4 cạnh neon */

.neon-input-wrapper span {
    position: absolute;
    display: block;
}

.neon-frame-btn {
    position: relative;
    padding: 14px 0;
    width: 100%;
    font-size: 18px;
    color: #fff;
    background: #0d47a1;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}


/* 4 cạnh neon */

.neon-frame-btn span {
    position: absolute;
    display: block;
}


/* Cạnh trên */

.neon-frame-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #00eaff);
    animation: neonTop 1.5s linear infinite;
}


/* Cạnh phải */

.neon-frame-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00eaff);
    animation: neonRight 1.5s linear infinite;
    animation-delay: 0.375s;
}


/* Cạnh dưới */

.neon-frame-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #00eaff);
    animation: neonBottom 1.5s linear infinite;
    animation-delay: 0.75s;
}


/* Cạnh trái */

.neon-frame-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #00eaff);
    animation: neonLeft 1.5s linear infinite;
    animation-delay: 1.125s;
}

a:hover {
    text-decoration: underline;
}