@import url("keyframe.css");
@import url("effect.css");
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #0f1c30;
    /* xanh sáº«m */
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(0, 128, 128, 0.5), rgba(0, 0, 0, 0.6));
    z-index: -1;
}

.bg-mask-vertical {
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    background: url("../img/parking_img1.png") center/cover;
    mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
    filter: blur(3px);
    z-index: -1;
}

.login-box {
    width: 360px;
    margin: 90px auto 0;
    background: #fff;
    padding: 35px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.35);
    animation: scaleUp 0.5s ease;
    z-index: 1000;
}

.logo {
    height: 80px;
    position: relative;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #0f1c30;
}

input {
    margin-bottom: 18px;
}

input {
    width: 92%;
    padding: 12px 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: 0.25s;
}

.input-group input:focus {
    border-color: #1a5bff;
    box-shadow: 0 0 5px rgba(26, 91, 255, 0.3);
}

a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #1d4ed8;
    font-size: 15px;
}

@media (max-width: 1024px) {
    .login-box {
        margin: 200px auto 0;
    }
    h2 {
        font-size: 30px;
    }
    input {
        width: 89%;
        padding: 20px;
    }
    .login-box a {
        font-size: 18px;
    }
}