.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}

button:hover {
    background: #1239a5;
}

.slot.active {
    background: #1d4ed8;
    color: white;
}